@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&&display=swap');

html {
  font-size: 10px; 
  color: #222;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
}
body.no-scroll {
  overflow-x: hidden;
}
body.no-scroll::-webkit-scrollbar {
  display: none;
}

/**----------------- Color ------------------**/

:root {
  --status-pending: #ffee58;
  --status-inProgress: #2196F3;
  --status-review: #ba68c8;
  --status-completed: #dddddd;
  --status-onHold: #9E9E9E;
}

/**--------------- Scroll Bar ----------------**/
body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar-track { background-color: transparent; }
body::-webkit-scrollbar-thumb { background-color: #dcdcdc;	border-radius: 5px; }
div::-webkit-scrollbar { width: 5px; }
div::-webkit-scrollbar-track { background-color: transparent; }
div::-webkit-scrollbar-thumb { background-color: #dcdcdc;	border-radius: 5px; }
ul::-webkit-scrollbar { width: 5px; }
ul::-webkit-scrollbar-track { background-color: transparent; }
ul::-webkit-scrollbar-thumb { background-color: #dcdcdc;	border-radius: 5px; }
textarea::-webkit-scrollbar { width: 5px; }
textarea::-webkit-scrollbar-track { background-color: transparent; }
textarea::-webkit-scrollbar-thumb { background-color: #dcdcdc;	border-radius: 5px; }

abbr {
  color: #222;
}

mark {
  word-break: break-all;
}

/**----------------- Common ------------------**/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blind {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

.white-blank.active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.toast {
  visibility: hidden;
  opacity: 0;
  z-index: 10100;
}

.toast.active {
  visibility: visible;
  opacity: 1;
  transition: visibility opacity 0.3s;
}

mark {
  font-style: normal;
  font-weight: inherit;
}

/**----------------- Input ------------------**/
input::placeholder,
textarea::placeholder {
  font-weight: normal;
  color: #b3b3b3;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
select, textarea {
  width: 100%;
  height: 4.2rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.4rem;
  color: #333;
  border: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-appearance: none;
  border-radius: 0.5rem;
  resize: none;
  &:focus {
    border-color: #000;
  }
}

select {
  -webkit-appearance:none;
  -moz-appearance:none; 
  -o-appearance:none; 
  appearance:none;
  background-image: url('/assets/images/form_select.png');
  background-repeat: no-repeat;
  background-position: center right 1rem;
  background-size: auto 2.2rem;
}

textarea {
  padding: 1rem;
}

/* Button */
button {
  padding: 0;
  border: none;
  cursor: pointer;
  touch-action: auto;
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

* {
  word-break: break-all;
}

hr {
  margin: 1.5rem 0 0 0;
  border: none;
}

.max-content {
  margin: 0 auto;
  max-width: 80rem;
}

.theme.default {
  background: linear-gradient(135deg, #2e0268, #160b4b, #0d2c5b, #03506f);
}
.theme.nightfall {
  background: linear-gradient(135deg, #1a0731, #2e144d, #1c2957, #0b3c4a);
}
.theme.midnightForest {
  background: linear-gradient(135deg, #0f1b14, #1d3225, #2e4b3a, #2c5f4c);
}
.theme.stellarAbyss {
  background: linear-gradient(135deg, #090b22, #141939, #282b54, #3b3d64);
}
.theme.shadowedOcean {
  background: linear-gradient(135deg, #0b2131, #1a3c52, #245e71, #327f8e);
}
.theme.obsidianNight {
  background: linear-gradient(135deg, #141414, #292929, #3e3e3e, #525252);
}
.theme.mysticTwilight {
  background: linear-gradient(135deg, #2b1932, #3a2748, #4b3662, #5b4275);
}
.theme.deepSapphire {
  background: linear-gradient(135deg, #0b1f3c, #123a5a, #1d5175, #276c8f);
}
.theme.emberEclipse {
  background: linear-gradient(135deg, #3d0f0b, #5a1e14, #6b3423, #7e4d3a);
}
.theme.foggyDusk {
  background: linear-gradient(135deg, #1c1f26, #2d3139, #3d4150, #4f5264);
}
.theme.ironwood {
  background: linear-gradient(135deg, #2a2e1c, #3e4a2b, #556637, #6d8145);
}